h1 {
    text-align:center;
    font-size:32px;
    color: red;
}

h2 {
    text-align:left;
    font-size:18px;
}

h3 {
    position: relative;
    left: 10px;
    font-size: 32px;
    color: wheat;
}

p {
    font-family: Verdana;
    font-style: revert;
}

.section-hob {
    background-image: linear-gradient(rosybrown, royalblue, gainsboro);
}

.section-thursday {
    background-image: linear-gradient(silver, coral, lightsalmon);
}

.bgcolor {
    background-color: #000000;
}

.bgcolor2 {
    background-color: #672a1f;
}

.bgcolor3 {
    background-color: #19647E;
}

.bgcolor-bbtm {
    background-color: #7B8FA1;
}

.bgcolor-eos {
    background: linear-gradient(45deg, red, black);
}

.bgcolor-kissland {
    background: linear-gradient(to right, black, green);
}

ul {
    list-style: none;
}

.song-text-hob {
    color: #A2A3BB;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-thursday {
    color: #F7EF81;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-eos {
    color: #FFFFFF;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-kissland {
    color: #FFFFFF;
    font-style: oblique;
    font-family: Verdana;
    position: relative;
    left: 22px;
    align-content: center;
}

.song-text-bbtm {
    color: #FFFFFF;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-mdm {
    color: #672a1f;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-ah {
    color: #672a1f;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-dawn {
    color: #672a1f;
    font-style: oblique;
    font-family: Verdana;
}

.audio-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}
