h1 {
    text-align:center;
    font-size:32px;
    color: red;
}

h2 {
    text-align:left;
    font-size:18px;
}

h3 {
    position: relative;
    left: 10px;
    font-size: 32px;
    color: wheat;
}

p {
    font-family: Verdana;
    font-style: revert;
}

.section-hob {
    background-image: linear-gradient(rosybrown, royalblue, gainsboro);
}

.section-thursday {
    background-image: linear-gradient(silver, coral, lightsalmon);
}

.section-eos {
    background-image: linear-gradient(yellow, blue, whitesmoke);
}

.section-kissland {
    background-image: linear-gradient(indianred, greenyellow, grey);
}

.section-bbtm {
    background-image: linear-gradient(gray, white, darkgray);
}

.section-starboy {
    background-image: linear-gradient(red, yellow, blue);
}

.section-mdm {
    background-image: linear-gradient(orange, brown, firebrick);
}

.section-ah {
    background-image: linear-gradient(red, darkred, indianred);
}

.section-dawnFM {
    background-image: linear-gradient(blue, royalblue, aqua);
}

.bgcolor {
    background-color: #000000;
}

.bgcolor2 {
    background-color: #672a1f;
}

.bgcolor3 {
    background-color: #19647E;
}

.bgcolor-bbtm {
    background-color: #7B8FA1;
}

.bgcolor-eos {
    background: linear-gradient(45deg, red, black);
}

.bgcolor-kissland {
    background: linear-gradient(to right, black, green);
}

ul {
    list-style: none;
}

.song-text-hob {
    color: #A2A3BB;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-thursday {
    color: #F7EF81;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-eos {
    color: #FFFFFF;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-kissland {
    color: #FFFFFF;
    font-style: oblique;
    font-family: Verdana;
    position: relative;
    left: 22px;
    align-content: center;
}

.song-text-bbtm {
    color: #FFFFFF;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-mdm {
    color: #672a1f;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-ah {
    color: #672a1f;
    font-style: oblique;
    font-family: Verdana;
}

.song-text-dawn {
    color: #672a1f;
    font-style: oblique;
    font-family: Verdana;
}

.audio-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.player{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border:2px solid 	#FFFAFA;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
}

.now-playing {
    font-size: 1rem;
}

.track-name {
    font-size: 2.5rem;
}

.track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.active{
    color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83A9FF;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774FF;
    cursor: grab;
    border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
    cursor: pointer;
}

.randomActive {
    color: black;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
    50% {
        height: 20%;
        background: #4286f4;
    }

    100% {
        background: #4286f4;
        height: 100%;
    }
}

.stroke:nth-child(1){
    animation-delay: 0s;
}

.stroke:nth-child(2){
    animation-delay: 0.3s;
}

.stroke:nth-child(3){
    animation-delay: 0.6s;
}

.stroke:nth-child(4){
    animation-delay: 0.9s;
}

.stroke:nth-child(5){
    animation-delay: 0.6s;
}

.stroke:nth-child(6){
    animation-delay: 0.3s;
}

.stroke:nth-child(7){
    animation-delay: 0s;
}

.song {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.song:hover {
    background-color: #f0f0f0;
}
