.bgimage {
    background-image: url('https://wallpaperaccess.com/full/2848494.jpg');
}

.bgimage-dawn {
    background-image: url('https://wallpaperaccess.com/full/265921.jpg');
}

.bgimage-ah {
    background-image: url('https://media.vogue.fr/photos/5e7e111b8c3f5f00087ada41/master/pass/TheWeeknd-vogue-23march20-Nabil.jpg');
}

.img_hob {
    align-content: center;
    width: 400px;
    height: 400px;
    content: url("https://images.squarespace-cdn.com/content/558b1305e4b0fa1db7e46ace/1449186262223-3VHPIHZRJC6QZVTNVJAA/image-asset.jpeg?content-type=image%2Fjpeg");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_thursday {
    width: 400px;
    height: 400px;
    content: url("https://upload.wikimedia.org/wikipedia/en/d/dd/The_Weeknd_-_Thursday.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_eos {
    width: 400px;
    height: 400px;
    content: url("https://upload.wikimedia.org/wikipedia/en/3/34/The_Weeknd_-_Echoes_of_Silence.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_kissland {
    width: 400px;
    height: 400px;
    content: url("https://upload.wikimedia.org/wikipedia/en/e/ed/The_Weeknd_-_Kiss_Land.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_bbtm {
    width: 400px;
    height: 400px;
    content: url("https://upload.wikimedia.org/wikipedia/en/b/bd/The_Weeknd_-_Beauty_Behind_the_Madness.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_starboy {
    width: 400px;
    height: 400px;
    content: url("https://upload.wikimedia.org/wikipedia/en/3/39/The_Weeknd_-_Starboy.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_mdm {
    width: 400px;
    height: 400px;
    content: url("https://upload.wikimedia.org/wikipedia/en/thumb/4/4d/MyDearMelancholy_-_album_by_The_Weeknd.jpg/220px-MyDearMelancholy_-_album_by_The_Weeknd.jpg");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_dawn {
    width: 400px;
    height: 400px;
    content: url("https://upload.wikimedia.org/wikipedia/en/b/b9/The_Weeknd_-_Dawn_FM.png");
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.img_afterhours {
    width: 400px;
    height: 400px;
    content: url("https://upload.wikimedia.org/wikipedia/en/c/c1/The_Weeknd_-_After_Hours.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hob {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 300px;
    left: 950px;
    filter: drop-shadow(0 0 4.5rem wheat);
}